<table class="table table-hover table-condensed">
   <h2><%= @total_stores %> Total Stores </h2>
  	<thead>
  		<tr>
        <th> "Name"</th>
        <th>"City"</th>
        <th> Distance" </th>
        <th> "Phone Number" </th>
        <th> "Store Type"</th>
  		</tr>
  	</thead>
  	<tbody>
      <tr>
      <% @stores.each do |store| %>
  		<td> <%= store.long_name %> </td>
  		<td> <%= store.city %> </td>
  		<td> <%= store.distance %> </td>
  		<td> <%= store.phone_number %> </td>
  		<td> <%= store.store_type %> </td>
   </tr>
      <% end %>
   </tbody>
</table>
